<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{bootstrap/css/bootstrap-reboot.min.css}" rel="stylesheet" />
    <link th:href="@{bootstrap/css/bootstrap-grid.min.css}" rel="stylesheet" />
</head>
<body th:style="'background:url(/images/bg.png);no-repeat; background-size: cover;'">
    <h1 class="display-1" style="text-align: center" >痞子帮出游帮手</h1>
    <div class="container" style="margin: 100px auto; width: 50%">
        <form method="post" action="/login">
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check" name="rememberMe">
                <label class="form-check-label" for="check">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script th:src="@{jquery-3.3.1.min.js}"></script>
</body>

</html>